{%load bootstrap5%} 
{%load static%} 


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">    {%if title%}
    <title>LogOnGo - {{title}}</title>
    {%else%}
    <title>LogOnGo</title>
    {%endif%}

    {%block styles%}
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
        {%bootstrap_css%}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    {%endblock%}
</head>

<body class="auth-body">
    {%block content%}
    <div class="container-fluid">
        <div class="row padding">
            <div class="col-md-3 "></div>
    
            <div class="col-md-6 opacity color-one rounded"><br>
                <div class="panel panel-default color-two rounded padding">
                    <div class="panel-heading">
                        <h3 class="text-center">
                          Reset Password
                        </h3>
                        <h6 class="text-center">
                          Or go <a href="/">home</a>
                        </h6>
                    </div>
                    <div class="panel-body color-two rounded padding-2">
                      <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">
                          <form id="reset-form" role="form" autocomplete="off" class="form" method="post">
                              {% csrf_token %}
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                  <input type="email" name="email"  placeholder="email address" class="form-control" autocomplete="email" maxlength="254" required="" id="id_email">
                              </div>
                            </div>
                              {% if form.errors %}
                                  {% for field in form %}
                                      {{field.name}}
                                      {% for error in field.errors %}
                                          <p style="color: rgb(236, 145, 25)"">{{ error }}</p>
                                      {% endfor %}
                                  {% endfor %}
                              {% endif %} <br>
                            <div class="form-group">
                               <button class="btn btn-outline-primary btn-lg btn-dark btn-block" type="submit">Reset Password</button>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
                
            </div><br>
    
            <div class="col-md-3"></div>
        </div>
    </div>
</body>

{%endblock%}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    
{%block scripts%}
    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    {%bootstrap_javascript%}
    <script src="{%static 'js/root.js'%}"></script>
    <!-- <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
{%endblock%}

</body>
</html>
