{%load bootstrap5%} 
{%load static%} 


<!DOCTYPE html>
<html>
<head type="text/css" media="print">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">    {%if title%}
    <title>LogOnGo - {{title}}</title>
    {%else%}
    <title>LogOnGo</title>
    {%endif%}

    {%block styles%}
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
        {%bootstrap_css%}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    {%endblock%}
</head>

<body>
    <h1>Pagination</h1>
    {%for p in page_obj%}eod:{{p.eod_reading_lts}}{%endfor%}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <h1>logged by: {{</h1>
    <ul>
        <p>Our endpoints:</p>
        <li>
            <a href="/admin/">Admin</a>
        </li>
        <li>
            <a href="{% url 'all_announcements' %}">All announcements</a>
        </li>
        <li>
            <a href="{% url 'announcements' %}">Last 3 announcements</a>
        </li>
        <li>
            <a href="{% url 'stations' %}">Stations</a>
        </li>
        <li>
            <a href="{% url 'profiles' %}">Profiles</a>
        </li>
        <li>
            <a href="{% url 'user_profile' %}">User profile</a>
        </li>
        <li>
            <a href="{% url 'all_users' %}">All users</a>
        </li>
        <li>
            <a href="{% url 'register' %}">Register</a>
        </li>
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'our_fuels' %}">Our fuels</a>
        </li>
        <li>
            <a href="{% url 'user' %}">User</a>
        </li>
        <li>
            <a href="{% url 'our_fuels' %}">Our fuels</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
            <a href="{% url 'diesel_info' %}">Diesel info</a>
        </li>
        <li>
            <a href="{% url 'gas_info' %}">Gas info</a>
        </li>
        <li>
            <a href="{% url 'petrol_info' %}">Petrol info</a>
        </li>
        <li>
            <a href="{% url 'pump_one_info' %}">Pump one info</a>
        </li>
        <li>
            <a href="{% url 'pump_two_info' %}">Pump two info</a>
        </li>
        <li>
            <a href="{% url 'pump_three_info' %}">Pump three info</a>
        </li>
        <li>
            <a href="{% url 'all_logs' %}">All logs</a>
        </li>
        <li>
            <a href="{% url 'logs_today' %}">Logs today</a>
        </li>
        {% for u in users %}
        <li>
            <a href="{% url 'user_logs' u.id %}">User logs</a>
        </li>
        {% endfor %}
        <li>
            <a href="{% url 'petrol_summary' %}">Petrol summary today</a>
        </li>
        <li>
            <a href="{% url 'diesel_summary' %}">Diesel summary today</a>
        </li>
        <li>
            <a href="{% url 'gas_summary' %}">Gas summary today</a>
        </li>
        {%for f in fuels%} 
        <li>
            <a href="{% url 'fuel_logs_today' f.id %}">{{f.fuel_type}} logs today</a>
        </li>
        <li>
            <a href="{% url 'fuel_logs_ii_today' f.id %}">{{f.fuel_type}} logs (ii) today</a>
        </li>
        <li>
            <a href="{% url 'fuel_logs_iii_today' f.id %}">{{f.fuel_type}} logs (iii) today</a>
        </li>
        <li>
            <a href="{% url 'fuel_logs_iv_today' f.id %}">{{f.fuel_type}} logs (iv) today</a>
        </li>
        {%endfor%}
        <li>
            <a href="{% url 'all_mpesa_logs' %}">All Mpesa logs</a>
        </li>
        <li>
            <a href="{% url 'mpesa_logs_today' %}">Mpesa logs today</a>
        </li>
        {%for u in users%}
        <li>
            <a href="{% url 'user_mpesa_logs' u.id %}">User Mpesa logs</a>
        </li>
        {%endfor%}

        {%for l in logs%}
        <li>
            <a href="{% url 'log_details' l.id %}">Log details</a>
        </li>
        {%endfor%}
        {%for m in mpesa%}
        <li>
            <a href="{% url 'mpesa_log_details' m.id %}">Mpesa log details</a>
        </li>
        {%endfor%}
        <li>
            <a href="{% url 'email_report' %}">Email report</a>
        </li>
        <li>
            <a href="{% url 'email_mpesa_report' %}">Email mpesa report</a>
        </li>
        <li>
            <a href="">Past logs</a>
        </li>
    </ul>


    {%block scripts%}
    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    {%bootstrap_javascript%}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
    <script src="{%static 'js/root.js'%}"></script>
    <!-- <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
{%endblock%}

</body>
</html>