<div class="container">
    <div class="header">
        <h1>Hello, {{username}},</h1>
    </div>
    <div class="body">
        <p>Someone just made a delete request. Please review the details of the log below:</p>
    </div>
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Requested by: {{requested_by}} on {{date_requested | date}}</h2>
        </div>
        <div class="card-body">
            <div class="card-title text-center">
                Log type: Credit card | Log date: {{date}}
            </div>
            <ul>
                <li>Card name: {{card_name}}</li>
                <li>Card no.: {{card_no}}</li>
                <li>Amount: {{amount}}</li>
            </ul>
        </div>
        <div class="card-footer">
            <small class="text-center">Log ID: {{log_id}} | Logged by {{logged_by}}</small>
        </div>
    </div>
    <div class="body">
        <p>If you want to view all the details of the log above, you can <a href="http://localhost:4200/credit-card-details/{{log_id}}">check it out here</a></p>
        <p>If you want to approve this request, follow the steps below:</p>
        <div class="bg-light shadow">
            <ol>
                <li>Check the <strong>log id</strong> above; keep it in mind.</li>
                <li>Head over to the <a href="http:127.0.0.1:8000/admin/">Admin platform.</a></li>
                <li>Login with your credentials.</li>
                <li>Navigate to <strong>Log credit cards</strong> menu on the left panel of your screen.</li>
                <li>Find the <strong>LogCreditCard object</strong> with the <strong>log id</strong> indicated above.</li>
                <li>Confirm that it looks like this: <strong>LogCreditCard object(1)</strong> for example.</li>
                <li>Click on the object.</li>
                <li>Scroll down to the bottom of your screen, where you will see a <strong>delete</strong> option.</li>
                <li>Click on <strong>delete</strong> and confirm it.</li>
            </ol>
            <h6>Alternatively...</h6>
            <ol>
                <li>After clicking on the <strong>Log credit cards</strong> menu...</li>
                <li>You can search for the <strong>LogCreditCard object</strong> that has the <strong>log id</strong> above.</li>
                <li>Or, if you can already see it...</li>
                <li>Click on the checkbox beside that <strong>LogCreditCard object</strong>.</li>
                <li>Next, select an <strong>action</strong> from the <strong>"Action:"</strong> select menu at the top of your list.</li>
                <li>The action you will see is <strong>"delete selected logs"</strong>; select it.</li>
                <li>Next, click on the <strong>Go</strong> button beside the Actions menu.</li>
                <li>Confirm the delete request.</li>
            </ol>
        </div>
    </div>
    <br><br>
    <div class="footer">
        <small>The development team,</small>
        <small>LogOnGo,</small>
        <small><i class="fa-regular fa-copyright"></i> Pebo Kenya Ltd.</small>
    </div>
</div>



